<div style="font-family: arial; padding: 30px; padding-bottom: 0;">

<h4 style="text-align: center;">In the Name of God</h4>

<h2 style="text-align: center; color: #103bc9;">CS232 - Advanced Programming</h2>

<h3 style="text-align: center; color: #d42c06;">Iran University of Science and Technology</h3>

<h3 style="text-align: center; color: #d42c06;">School of Mathematics and Computer Science</h3>

<h4 style="padding-top: 7px; text-align: center;">Winter-Spring 2024</h4>

<hr style="margin-top: 25px; border-color: #fff;">

<h1 style="text-align: center; color: #9c0000;">Database</h1>

<h3 style="padding-top: 7px; text-align: center;">Sina Abdolhosseini<br>
Bardia Hashemi</h3>

<hr style="margin-top: 25px; border-color: #fff;">

</div>

# What is Datebase ?

A database is an organized collection of data stored in a computer system and usually controlled by a database management system (DBMS). The data in common databases is modeled in tables, making querying and processing efficient. Structured query language (SQL) is commonly used for data querying and writing.

The Database is an essential part of our life. We encounter several activities that involve our interaction with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the instances where we need to store a large amount of data in one place and fetch these data easily.

# What is relational datsbase ?

A relational database is a type of database that organizes data into rows and columns, which collectively form a table where the data points are related to each other.

# What is MySQL ?

MySQL is a relational database management system (RDBMS) developed by Oracle that is based on structured query language (SQL).

# Why we use MySQL ?

1. MySQL is a widely used relational database management system (RDBMS).
2. MySQL is free and open-source.
3. MySQL is ideal for both small and large applications.
4. MySQL is very fast, reliable, scalable, and easy to use
5. MySQL is cross-platform
6. MySQL is developed, distributed, and supported by Oracle Corporation

# MySQL commands

### Create and Drop Database

+ #### CREATE DATABASE: "To create a new SQL database"
        CREATE DATABASE databasename;

+ #### DROP DATABASE: "To drop an existing SQL database"
        DROP DATABASE databasename;

### Create and Drop Table

+ #### Create table Syntax: "To create a new table in a database"
        CREATE TABLE table_name (
        column1 datatype,
        column2 datatype,
        column3 datatype,
        ....
        );

+ #### Drop table Syntax: "To drop an existing table in a database"
        DROP TABLE table_name;
+ #### To delete the data inside a table, but not the table itself:
        TRUNCATE TABLE table_name;

### INSERT INTO TABLE

+ #### The INSERT INTO statement is used to insert new records in a table.
        INSERT INTO table_name (column1,column2,column3, ...)
        VALUES (value1, value2, value3, ...);

### SELECT

+ ####  When select data from any Column
        SELECT column1, column2, ...FROM table_name;
+ #### When select all the Columns
        SELECT * FROM table_name;
+ ####  To return only distinct (different) values
        SELECT DISTINCT columnname FROM table_name

### WHERE
* used to filter records

        SELECT column1, column2, ...
        FROM table_name
        WHERE condition;

+ #### Operators in Where
    * '=' -> Equal	
    * '>' -> Greater than	
    * '<' -> Less than	
    * '>=' -> Greater than or equal	
    * '<=' -> Less than or equal	
    * '<>' -> Not equal. Note: In some versions of SQL this operator may be written as '!='

+ #### Where with AND,OR, and NOT operators:
     *  AND Syntax 

                SELECT column1, column2, ...
                FROM table_name
                WHERE condition1 AND condition2 AND condition3 ...;
     *  OR Syntax: 

                SELECT column1, column2, ...
                FROM table_name
                WHERE condition1 OR condition2 Ocondition3 ...;
     *  NOT Syntax: 
     
                SELECT column1, column2, ...
                FROM table_name
                WHERE NOT condition;

### UPDATE
* used to modify the existing records in a table

+ #### Update record
        UPDATE table_name
        SET column1 = value1, column2 = value2, ...
        WHERE condition;
+ #### Update Multiple record
        UPDATE table_name
        SET columnname = condition
        WHERE columnname = condition;

# MySQL in python

In Python you need to install a Python MySQL connector to interact with a MySQL database. Many packages follow the DB-API standards, but the most popular among them is MySQL Connector/Python. You can get it with pip:

In [ ]:
! pip install mysql-connector-python

# Connect To MySQL

In [ ]:
import mysql.connector as connector


DBUsername = "root"
DBPassword = "CSAP"
DBName = "CS"

db = connector.connect(
    host = "127.0.0.1",
    user = DBUsername,
    password = DBPassword,
    database = DBName
)

if db.is_connected():
    print("Database Connected")

# Establishing a connection

In [ ]:
connection = connector.connect(user=DBUsername,password=DBPassword)

# What is cursor?

The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using a MySQLConnection object .

In [ ]:
cursor = connection.cursor()

# How run a query?

In [ ]:
query = "select students_name from CS402;"

# Execute SQL query
cursor.execute(query)

for name in cursor :
    print("welcome to cs " , name )

cursor.close()
connection.close()

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 style="color: #d42c06;">References</h2>

<ul>
    <li>https://github.com/thecraigd/Python_SQL/blob/master/mysql.ipynb</li>
    <li>https://dev.mysql.com/doc/</li>

</ul>

<hr style="margin-top: 25px; border-color: #fff;">

</div>