<div style="font-family: arial; padding: 30px; padding-bottom: 0;">

<h4 style="text-align: center;">In the Name of God</h4>

<h2 style="text-align: center; color: #103bc9;">CS232 - Advanced Programming</h2>

<h3 style="text-align: center; color: #d42c06;">Iran University of Science and Technology</h3>

<h3 style="text-align: center; color: #d42c06;">School of Mathematics and Computer Science</h3>

<h4 style="padding-top: 7px; text-align: center;">Winter-Spring 2024</h4>

<hr style="margin-top: 25px; border-color: #fff;">

<h1 style="text-align: center; color: #9c0000;">Chapter 1: Python Fundamentals</h1>

<h3 style="padding-top: 7px; text-align: center;">Fateme Raadfar, Mahdi Porheydari</h3>

<hr style="margin-top: 25px; border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 15px; padding-bottom: 0;">

<hr style="margin-top: 25px; border-color: #fff;">

<h2 style="text-align: center; color: #186e00;">Section 1: Python Introduction</h2>

<hr style="margin-top: 25px; border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Brief History" style="color: #d42c06;">Brief History</h2>

Python, conceived in the late 1980s by Guido van Rossum, is a high-level, versatile programming language known for its readability and simplicity. The first official Python release, version 0.9.0, came in February 1991. The language's name, inspired by Monty Python's Flying Circus, reflects its whimsical nature. Python's development has been guided by a philosophy emphasizing code readability and ease of use, making it an excellent choice for both beginners and seasoned developers.
</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Common Uses" style="color: #d42c06;">Common Uses</h2>

Python has gained widespread popularity across various domains due to its flexibility and extensive libraries. Some common uses include:

1. **Web Development**:
    - Frameworks: Python is widely used for web development, with frameworks like Django and Flask providing powerful tools for building scalable and maintainable web applications.
    - Backend Development: Python's ease of use makes it a popular choice for server-side development, handling the logic and data processing behind web applications.
2. **Data Science and Machine Learning**:
    - Libraries: Python has become the de facto language for data science and machine learning, thanks to libraries such as NumPy, Pandas, and TensorFlow. These tools empower developers and data scientists to analyze and model complex datasets efficiently.

3. **Automation and Scripting**:
    - Productivity: Python's simple syntax and extensive standard library make it an ideal language for automating tasks and writing scripts. It is widely used in system administration, network automation, and routine scripting.

4. **Scientific Computing**:
    - NumPy and SciPy: Python is a preferred choice in scientific research for its libraries like NumPy and SciPy, which provide support for mathematical and scientific computing tasks.
5. **Game Development**:
    - Pygame: Python is utilized in game development, particularly for creating simple games and prototypes. The Pygame library facilitates the development of 2D games with ease.

6. **Network Programming**:
    - Networking Protocols: Python's standard library supports various networking protocols, making it a valuable language for developing network applications and tools.

7. **Desktop GUI Applications**:
    - Tkinter and PyQt: Python is used for developing desktop applications with graphical user interfaces (GUIs) using frameworks like Tkinter and PyQt.
</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Comparison with Some Other Programming Languages" style="color: #d42c06;">Comparison with Some Other Programming Languages</h2>

Python stands out among programming languages for its readability and simplicity. Let's delve into a brief comparison with some other popular languages and highlight Python's performance characteristics:

- **Java**:

    - **Readability**: Python is often considered more concise and readable than Java, with less boilerplate code. Python's dynamic typing also contrasts with Java's static typing.
    - **Performance**: Java tends to have better performance than Python, especially in situations where execution speed is crucial.
        However, Python's ease of use often outweighs Java's performance advantages in certain scenarios.
- **C++**:

    - **Readability and Rapid Development**: While C++ provides more low-level control over hardware, Python's simplicity makes it preferable for rapid development and prototyping.
    - **Performance**: C++ generally offers better performance than Python due to its lower-level nature. Python sacrifices some performance for readability and ease of use.
- **JavaScript**:

    - **Versatility**: Python and JavaScript are both versatile, but Python is often used on the server side (backend development), while JavaScript dominates in the browser (frontend development).
    - **Performance**: Both languages have similar performance characteristics for their respective domains. Python's server-side performance is comparable to that of JavaScript, but Python may be preferred for its readability.
- **Ruby**:

    - **Philosophy**: Python and Ruby share similar philosophies, emphasizing readability and developer happiness. Python is often chosen for its larger community and widespread use in scientific computing and data science.
    - **Performance**: Python generally has better performance than Ruby, primarily due to its more extensive standard library and better optimization. However, both prioritize developer-friendly features over raw performance.
<br>

### Additional Considerations: Python's Speed and Memory Consumption

While Python excels in readability and ease of use, it may not always match the performance of languages like C++ or Java.

It is an interpreted language, which means that the code is executed line by line, introducing some overhead.
However, advancements like Just-In-Time (JIT) compilation in recent Python versions have improved execution speed.

**Execution Speed:**

Python is not as fast as compiled languages like C or C++, but its performance has improved with implementations like CPython, PyPy, and optimizations in newer language versions.
For computationally intensive tasks, developers may choose to implement critical sections in languages like C and integrate them with Python for overall performance gains.

**Memory Consumption:**

Python's memory consumption can be higher compared to languages with more explicit memory management, as it utilizes automatic memory management (garbage collection).

Developers need to be mindful of memory usage, especially in resource-constrained environments.
Techniques like memory profiling and optimizing data structures can help mitigate excessive memory usage.

</div>

<div style="font-family: arial; padding: 30px; padding-top: 15px; padding-bottom: 0;">

<hr style="margin-top: 25px; border-color: #fff;">

<h2 style="text-align: center; color: #186e00;">Section 2: Basics of Python Syntax</h2>

<hr style="margin-top: 25px; border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Installation of Python Interpreter" style="color: #d42c06;">Installation of Python Interpreter</h2>
Before diving into Python programming, it's essential to have Python installed on your system. Python can be easily installed on various operating systems. Follow the steps below based on your platform:

### **For Windows**:

1. Download Python:

    - Visit the official Python website at [python.org](https://python.org).
    - Navigate to the "Downloads" section and click on the latest version of Python for Windows.
    - Choose the installer based on your system architecture (usually 64-bit) and download the executable installer.
2. Run the Installer:

    - Locate the downloaded installer file (e.g., python-3.x.x.exe) and double-click to run it.
    - Ensure you check the box that says "Add Python to PATH" during installation. This makes it easier to run Python from the command line.
3. Complete the Installation:

    - Follow the on-screen instructions to complete the installation. Python will be installed in the default location on your system.
4. Verify Installation:

    - Open a command prompt or PowerShell window and type <code>python --version</code> or <code>python -V</code> to check if Pyt   hon has been installed successfully.
    
### **For macOS**:

1. Installation using Homebrew (recommended):

    - Open the Terminal.
    - Install Homebrew by following the instructions on the [Homebrew website](https://brew.sh).
    - Once Homebrew is installed, run the command ```brew install python ```.
2. Verification:

    - After installation, verify Python by typing <code>python3 --version</code> in the Terminal. You should see the installed Python version.

### **For Linux**:

1. Using Package Manager:

    - Most Linux distributions come with Python pre-installed. However, you can use your package manager to install or update Python. For example, on Ubuntu, use ```sudo apt-get update``` followed by ```sudo apt-get install python3```.
2. Alternative Method - Python Official Release:

    - You can also download and install Python from the official website or use tools like pyenv. Follow the instructions on python.org for the official release.
3. Verification:

    - Open a terminal and type ```python3 --version``` to check if Python has been installed successfully.
</div>

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Comments" style="color: #d42c06;">Comments</h2>
Comments in Python are essential for improving code readability and providing explanations for different parts of your code. There are two types of comments: single-line comments and multiline comments.
</div>

Single-line comments start with the hash (#) symbol and continue to the end of the line. They are useful for adding brief explanations or annotations to specific lines of code.

In [ ]:
# This is a single-line comment
print("Hello, World!")  # Another comment after a line of code

While Python does not have a specific syntax for multiline comments, you can use triple quotes (''' or """) to create multiline strings, effectively achieving the same purpose. Although these multiline strings are not actual comments, they serve as a way to include multiline explanations or comments.

In [ ]:
'''
This is a multiline comment or explanation.
It spans multiple lines without affecting the code.
'''
print("Python is powerful!")

"""
Another way to create a multiline comment.
This can be useful for more extended explanations.
"""

While multiline strings can serve as multiline comments, keep in mind that they are actually string literals, and their content may be included in the compiled code if not assigned to a variable or used in a meaningful way.

In practice, developers often use single-line comments for brevity and clarity, reserving multiline strings for docstrings (documentation within functions and modules).

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Variables" style="color: #d42c06;">Variables (Built-in Data Types)</h2>

</div>

- **Text Type** - `str`:

    The str (string) type represents text in Python. Strings are sequences of characters and can be enclosed in single (') or double (") quotes.

In [ ]:
my_string = 'Hello, Python!'
another_string = "Welcome to the world of strings."

- **Numeric Types** - `int`, `float`, and `complex`:

    - `int`: Integer type represents whole numbers without decimals.
    - `float`: Floating-point type represents numbers with decimals.
    - `complex`: Complex numbers with a real and an imaginary part.

In [ ]:
my_integer = 42
my_float = 3.14
my_complex = 2 + 3j

- Sequence Types - `list`, `tuple`, and `range`:

    - `list`: Ordered, mutable collection of elements.
    - `tuple`: Ordered, immutable collection of elements.
    - `range`:  Represents a sequence of numbers. ranges arguments are closed for the first of range and closed for the end, range(1, 3) means [1,3)

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_range = range(1, 10, 2) # from 1 to 9 with steps of 2

- **Mapping Type** - dict::

    - The `dict` (dictionary) type represents an unordered collection of key-value pairs. Each key must be unique.

In [ ]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

- **Set Types** - `set` and `frozenset`:

    - `set`: Unordered, mutable collection of unique elements.
    - `frozenset`: Unordered, immutable collection of unique elements.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_frozenset = frozenset([10, 20, 30])

- **Boolean Type** - `bool`:

    The bool type represents boolean values, either True or False.

In [ ]:
is_python_fun = True # also considered as 1!
is_learning_python = False # also considered as 0!

- **Binary Types** - `bytes`, `bytearray`, and `memoryview`:

    - `bytes`: Immutable sequence of bytes.
    - `bytearray`: Mutable sequence of bytes.
    - `memoryview`: Memory view object that exposes an array's buffer interface.

In [ ]:
my_bytes = b'Hello'
my_bytearray = bytearray([65, 66, 67])
my_memoryview = memoryview(my_bytearray)

- **None Type** - `None`:

    The None type represents the absence of a value or a null value in Python.

In [ ]:
my_variable = None

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Type Conversion" style="color: #d42c06;">Type Conversion</h2>

</div>

### Checking Type of a Variable
In Python, you can use the type() function to determine the type of a variable. This is especially useful when dealing with dynamic typing, where variables can change their type during runtime.

In [ ]:
# Example: Checking the type of variables
my_variable = 42
print(type(my_variable))  # Output: <class 'int'>

my_text = "Hello, Python!"
print(type(my_text))  # Output: <class 'str'>

my_list = [1, 2, 3, 4, 5]
print(type(my_list))  # Output: <class 'list'>

Python allows you to convert variables from one type to another, a process known as type conversion or casting. This can be done using various built-in functions.
### Implicit Type Conversion
-   Python automatically converts one data type to another when an operation involves two different types.

In [ ]:
# Example: Implicit Type Conversion
result = 10 + 3.5
print(result)  # Output: 13.5 (int 10 is implicitly converted to float for the addition)

### Explicit Type Conversion:
- You can explicitly convert a variable from one type to another using the relevant built-in functions.

In [ ]:
# Example: Explicit Type Conversion
my_float = 3.14
converted_integer = int(my_float)
print(converted_integer)  # Output: 3 (float 3.14 is explicitly converted to int)

my_string_number = "42"
converted_number = int(my_string_number)
print(converted_number)  # Output: 42 (string '42' is explicitly converted to int)

In [ ]:
# Converting to List and Tuple
my_string = "Python"
list_version = list(my_string)
tuple_version = tuple(my_string)

print(list_version)  # Output: ['P', 'y', 't', 'h', 'o', 'n']
print(tuple_version)  # Output: ('P', 'y', 't', 'h', 'o', 'n')

some conversions may result in errors if the types are incompatible. Always validate and handle conversions appropriately in your code.

In [ ]:
# Error Example: Attempting to convert a non-numeric string to int
invalid_string = "Hello"
invalid_number = int(invalid_string)

# Error Example: Mixing incompatible types
mixing_types_result = "Python" + 42  # TypeError: can only concatenate str (not "int") to str

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Input/Output(I/O)" style="color: #d42c06;">Input/Output(I/O)</h2>

- **Input Function** - `input()`:
    
    The input() function allows you to interact with the user by taking input from the keyboard. It reads a line of text from the user and returns it as a string.
</div>

In [ ]:
# Example: Taking user input
user_name = input("Enter your name: ")
print("Hello ", user_name, sep="")

It's important to note that the input() function always returns a string, so if you need numeric input, you'll need to convert it using type conversion functions.

-  **Splitting Input** - `split()`:

    The split() method is used to split a string into a list of substrings based on a specified delimiter. By default, the delimiter is a space.

In [ ]:
# Example: Splitting input into a list
numbers_input = input("Enter numbers separated by space: ")
numbers_list = numbers_input.split()

print("List of numbers:", numbers_list)

You can also specify a custom delimiter by passing it as an argument to the split() method. For example:

In [ ]:
# Example: Splitting input with a custom delimiter
csv_input = input("Enter comma-separated values: ")
csv_list = csv_input.split(',')

print("List of values:", csv_list)

- **Print Function** - `print()`:

    The print() function is used to display output on the screen. It can take multiple arguments and concatenate them for output.

In [ ]:
# Example: Using print to display output
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

You can use formatted strings (f-strings) to embed variables and expressions within a string:

In [ ]:
# Example: Using f-strings with print
print(f"Person: {name}, Age: {age}")

The print() function also accepts optional parameters like sep (separator) and end (end character):

In [ ]:
# Example: Using sep and end parameters with print
print("Python", "Programming", sep='-', end='!')
# Output: Python-Programming!

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Srtings" style="color: #d42c06;">Strings</h2>

In Python, a string is a sequence of characters enclosed in single (') or double (") quotes. Strings are immutable, meaning their content cannot be changed once they are created.
</div>

In [ ]:
# Example: Creating strings
single_quoted_string = 'Hello, Python!'
double_quoted_string = "Strings are versatile."

- **Slicing Strings**

String slicing allows you to extract a portion of a string. The syntax is `string[start:stop:step]`, where start is the starting index, stop is the ending index (exclusive), and step is the step size.

In [ ]:
# Example: Slicing strings
my_string = "Python Programming"

# Extracting a substring
substring = my_string[7:18]
print(substring)  # Output: "Programming"

# Using step to get every second character
every_second_char = my_string[::2]
print(every_second_char)  # Output: "Pto rgamn"

- **String Concatenation**

String concatenation is the process of combining two or more strings into a single string.

In [ ]:
# Example: String concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)  # Output: "John Doe"

- **Formatting Strings**

String formatting allows you to create dynamic strings by embedding variables and expressions. One common method is using f-strings.

In [ ]:
# Example: Using f-strings for string formatting
name = "Alice"
age = 30
formatted_string = f"Person: {name}, Age: {age}"
print(formatted_string)  # Output: "Person: Alice, Age: 30"

- **Escape Characters**

Escape characters are used to include special characters within strings. Common escape characters include \n for a new line and \t for a tab.

In [ ]:
# Example: Using escape characters
multiline_string = "This is a multiline\nstring with a line break."
print(multiline_string)

- **Basic String Methods**

Python provides several built-in string methods for common operations:

In [ ]:
# Example: Basic string methods
my_string = "Hello, Python!"

# Convert to lowercase
lowercase_string = my_string.lower()

# Convert to uppercase
uppercase_string = my_string.upper()

# Capitalize the first letter
capitalized_string = my_string.capitalize()

# Check if a string starts with a specific prefix
starts_with_hello = my_string.startswith("Hello")

In [ ]:
# Example: Additional string methods
my_string = "Hello, Python!"

# Find the index of a substring
index_of_python = my_string.find("Python")
print(index_of_python)  # Output: 7

# Count occurrences of a substring
count_of_l = my_string.count("l")
print(count_of_l)  # Output: 3

# Check if the string ends with a specific suffix
ends_with_exclamation = my_string.endswith("!")
print(ends_with_exclamation)  # Output: True

# Center the string within a specified width with padding
centered_string = my_string.center(30, "*")
print(centered_string)
# Output: "****Hello, Python!*****"

# Replace occurrences of a substring with another string
replaced_string = my_string.replace("Python", "World")
print(replaced_string)
# Output: "Hello, World!"

# Strip leading and trailing whitespaces
whitespace_string = "    Python Programming    "
stripped_string = whitespace_string.strip()
print(stripped_string)
# Output: "Python Programming"

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Operators</h2>

- **Arithmetic Operators**

Arithmetic operators are used to perform mathematical operations.
</div>

In [ ]:
# Example: Arithmetic operators
a = 10
b = 3

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
remainder = a % b
exponentiation = a ** b

print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")
print(f"Remainder: {remainder}")
print(f"Exponentiation: {exponentiation}")

- **Assignment Operators**

Assignment operators are used to assign values to variables.

In [ ]:
# Example: Assignment operators
x = 5

# Shortened assignment
x += 3  # Equivalent to x = x + 3

# Other assignment operators include -=, *=, /=, %=, **=, etc.

print(f"Updated x: {x}")

- **Comparison Operators**

Comparison operators are used to compare values and return Boolean results.

In [ ]:
# Example: Comparison operators
a = 10
b = 20

greater_than = a > b
less_than_or_equal = a <= b
equal_to = a == b
not_equal_to = a != b

print(f"Greater than: {greater_than}")
print(f"Less than or equal: {less_than_or_equal}")
print(f"Equal to: {equal_to}")
print(f"Not equal to: {not_equal_to}")

- **Identity Operators**

Identity operators are used to compare the memory location of two objects.

In [ ]:
# Example: Identity operators
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(f"x is y: {x is y}")  # Output: False
print(f"x is z: {x is z}")  # Output: True
print(f"x is not y: {x is not y}")  # Output: True

- **Membership Operators**

Membership operators are used to test whether a value or variable is found in a sequence.

In [ ]:
# Example: Membership operators
my_list = [1, 2, 3, 4, 5]

print(f"2 in my_list: {2 in my_list}")  # Output: True
print(f"6 not in my_list: {6 not in my_list}")  # Output: True

- **Bitwise Operators**

Bitwise operators perform operations on individual bits of binary numbers.

In [ ]:
# Example: Bitwise operators
a = 5  # Binary: 0101
b = 3  # Binary: 0011

bitwise_and = a & b  # Binary: 0001 (1 in decimal)
bitwise_or = a | b   # Binary: 0111 (7 in decimal)
bitwise_xor = a ^ b  # Binary: 0110 (6 in decimal)
bitwise_not_a = ~a   # Binary: 1010 (in 2's complement form)

print(f"Bitwise AND: {bitwise_and}")
print(f"Bitwise OR: {bitwise_or}")
print(f"Bitwise XOR: {bitwise_xor}")
print(f"Bitwise NOT a: {bitwise_not_a}")

In [ ]:
# Bitwise Multiplication (Left Shift)
bitwise_multiply = a << 1  # Binary: 1010 (10 in decimal)
print(f"Bitwise Multiplication: {bitwise_multiply}")

# Bitwise Halving (Right Shift)
bitwise_halve = a >> 1  # Binary: 0010 (2 in decimal)
print(f"Bitwise Halving: {bitwise_halve}")

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="ds" style="color: #d42c06;">Diving into some data structures</h2>
<ul>
<li><h3 id="ds" style="color: #d42c06;">list</h3></li>
<ul>
</div>


<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
what is a list?
<ul>
<li>List is an <strong>ordered</strong> sequence of items.</li>
<li> it is flexible and changable.
<li>All the items in a list do not need to be of the same type.</li>
</ul>
</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Declaring a list</h2>
Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets<code> [ ]</code>.
</div>

In [ ]:
x = [6, 99,'banana', 'Apple']
print(x, "is of type", type(x))

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">List methods</h2>

- **append()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
append method adds elements at the end of the list.
</div>

In [ ]:
list=[2,5,6,7]
list.append(8)
print(list)

[2, 5, 6, 7, 8]

- **pop()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
pop method removes and returns the last value from the List or the given index value.
<ul>
<li>so giving index to pop method is optional.</li>
</ul>
</div>

In [ ]:
fruits1 = ["apple", "mango", "plum",'orange']
fruits1.pop()
print(fruits1)

#with index
fruits2 = ["apple", "mango", "plum",'orange']
fruits2.pop(2)
print(fruits2)

['apple', 'mango', 'plum']
['apple', 'mango', 'orange']

- **remove()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
remove method removes a given element from the list.

</div>

In [ ]:
countries = ['Canada','Iran','USA','Turkey']
countries.remove('USA')
print(countries)

['Canada', 'Iran', 'Turkey']

- **sort()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
sort() method sorts the elements of a list.
 It sorts in ascending order by default but you can use some functions to change the sorting format. e.g: reverse and key.
</div>

In [ ]:
random_numbers = [2,5,6,1,8,3]
random_numbers.sort()
print(random_numbers)

[1, 2, 3, 5, 6, 8]

- **key function**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
it lets you sort in a custom manner using its parameters.
</div>

In [ ]:
#using key function
words = ['banana', 'pie', 'Washington', 'book']
words.sort(key=len) #it sorts words list based on the words length.
print(words)

['pie', 'book', 'banana', 'Washington']

- **reverse in sort**

In [ ]:
numbers = [1, 3, 5, 7, 2]
numbers.sort(reverse=True)
print(numbers)

[7, 5, 3, 2, 1]

- **clear()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
clear methos removes all items and makes the list empty/null.

</div>

In [ ]:
numbers = [1, 2, 4, 5, 8, 3]
numbers.clear()
print(numbers)

[]

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">List concatenation</h2>
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
There are several ways to merge two lists. Here we see:
</div>

- **Using (+) operator**

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

- **Using the extend() Method**

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

- **Using List Comprehension**

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = [item for sublist in [list1, list2] for item in sublist]
print(combined_list)

[1, 2, 3, 4, 5, 6]

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<ul>
<li><h3 id="ds" style="color: #d42c06;">Set</h3></li>
<ul>
</div>


<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
what is a set?
<ul>
<li>Set is an <strong>unordered collection</strong> of unique items.</li>
<li>Set is defined by values separated by "," inside braces<code>{ }</code>.
<li>Sets are unchangeable and unordered.</li>
</ul>
</div>

In [ ]:
numbers = {7,1,3,6,9}
print(type(numbers))

<class 'set'>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">

<ul>
<li>sets are collections of unique elements.</li>
<li>you can perform set operations like union, intersection, and difference to combine or compare sets in meaningful ways.</li>
</ul>
</div>

In [ ]:
#union

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#intersection

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [ ]:
#difference

set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Set methods</h2>

- **add()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Adds an element to a set. If the element is already in the set, the set doesn't change.

</div>

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

- **remove()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Removes an element from the set. Raises a KeyError if the element is not present.
</div>

In [ ]:
names= {'ali', 'reza', 'saeed', 'fateme'}
names.remove('saeed')
print(names)

{'reza', 'fateme', 'ali'}

- **pop()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Removes and returns an arbitrary set element. Raises a KeyError if the set is empty.
</div>

In [ ]:
my_set = {1, 2, 4, 3}
print(my_set.pop())
print(my_set)

1
{2, 3, 4}

- **update()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Adds elements from other_set to the set.
</div>

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

- **discard()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Removes an element from the set if it is a member. If the element is not a member, do nothing.
</div>

In [ ]:
my_set = {1, 2, 3}
my_set.discard(3)
print(my_set)
my_set.discard(3)  #doesnt raise any error as you see!

{1, 2}

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<ul>
<li><h3 id="ds" style="color: #d42c06;">Tuple</h3></li>
<ul>
</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
what is a tuple?
<ul>
<li>Tuple is an ordered sequence of items same as a list..</li>
<li>they are immutable, which means they are unchangable.that is why they are faster!
<li>once you create a tuple, you can not modify it.</li>
<li>Tuple is defined within parentheses <code>()</code> where items are separated by commas.</li>
</ul>
</div>

In [ ]:
tuple1 = (9, 'apple', 3 + 6j)
print(type(tuple1))

<class 'tuple'>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Immutable vs mutable</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
mutable => lists
<ul>
<li>Lists in Python are mutable, meaning their contents can be changed after they are created.</li>
</ul>
</div>

In [ ]:
my_list = [1, 2, 3]
my_list[1] = 20
print(my_list)

[1, 20, 3]

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
immutable => tuples
<ul>
<li>Tuples are immutable, meaning their contents cannot be changed after they are created.</li>
<li> Attempting to alter the content of a tuple results in a TypeError.</li>
</ul>
</div>

In [ ]:
my_tuple = (1, 2, 3)
# The following line would raise an error:
my_tuple[1] = 20

TypeError: 'tuple' object does not support item assignment

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Unpacking Tuples</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
<ul>
<li>Tuple unpacking is a convenient feature in Python that allows you to assign each item in a tuple to a separate variable in a single statement.</li>
<li>This process simplifies working with tuples and iterables by enabling direct access to their elements without the need for indexing.</li>

</ul>
</div>

- **basic unpacking**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
As you see, 'a', 'b', and 'c' are assigned the values of the elements in my_tuple in order.
</div>

In [ ]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

- **Unpacking with an Asterisk (*)**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Sometimes, you might not know the exact length of a tuple or you're only interested in a part of it. you can use this:
</div>

In [ ]:
countries = ('russia', 'USA','australia', 'india', 'iran')
middle_east, america, *rest = countries
print(middle_east)    # Output: russia
print(america)    # Output: USA
print(rest)   #output:list of others

russia
USA
['australia', 'india', 'iran']

- **Unpacking in Function Calls**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
This method passes the elements of numbers (exp below) as separate arguments to my_func.
</div>

In [ ]:
def my_func(x, y, z):
    print(x, y, z)

numbers = (1, 2, 3)
my_func(*numbers)

1 2 3

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Joining Tuples</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
<ul>
<li>Since tuples are immutable, joining tuples does not modify the original tuples; instead, it creates a new tuple containing elements from the tuples being joined. </li>
</ul>
</div>

- **Using the tuple() Constructor with Iterables**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
If you have some tuples or lists, you can use the tuple() constructor with a generator expression or a loop to iterate through elements.
</div>

In [ ]:
list1 = [1, 2, 3]
tuple1 = ('a', 'b', 'c')
joined_tuple = tuple(item for iterable in (list1, tuple1) for item in iterable)
print(joined_tuple)

(1, 2, 3, 'a', 'b', 'c')

- **Using the + Operator**

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
joined_tuple = tuple1 + tuple2
print(joined_tuple)

(1, 2, 3, 4, 5, 6)

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Tuple Methods</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
<ul>
<li>Tuples in Python are simple but powerful data structures. </li>
<li>As we mentioned earlier, they are immutable.</li>
<li>This immutability gives them certain advantages, such as being hashable and usable as keys in dictionaries (we will talk about it later).</li>
</ul>
</div>

- **index()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Returns the first index of a specified value in the tuple.
</div>

In [ ]:
bird_log = ('Sparrow', 'Robin', 'Phoenix', 'Canary', 'Phoenix')
first_phoenix_sighting = bird_log.index('Phoenix')
print(f"The first 'Phoenix' was spotted at position: {first_phoenix_sighting}")

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
exp discription: Imagine you're a birdwatcher keeping a log of birds during your expedition. Each bird spotted is recorded in order of sighting. You're particularly interested in the first sighting of a rare bird named "Phoenix".
</div>

- **count()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Returns the number of times a specified value appears in the tuple.<br>
exp: Imagine you're an astronomer counting the number of times specific types of stars appear in your observations.
</div>

In [ ]:
observations = ('A', 'B', 'A', 'C', 'B', 'A', 'D', 'A')
type_a_count = observations.count('A')
print(f"Type 'A' stars observed: {type_a_count}")

Type 'A' stars observed: 4

- **max() and min()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Return the largest and smallest elements in a tuple, respectively.
</div>

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(max(numbers))
print(min(numbers))

5
1

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<ul>
<li><h3 id="ds" style="color: #d42c06;">Dictionaries</h3></li>
<ul>
</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
what is a dictionary?
<ul>
<li>Dictionary is an unordered collection of data values.</li>
<li>Unlike other Data Types that hold only a single value as an element, a Dictionary holds a key:value pair.</li>
<li>They are mutable, meaning they can be modified after their creation.</li>
<li>They are written with curly braces <code>{}</code>.</li>
<li> Here is a simple exp:
</ul>
</div>

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York", "job": "Software engineer"}
print(my_dict)

{'name': 'Alice', 'age': 20, 'city': 'New York', 'job': 'Software engineer'}

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Accessing Values</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
<ul>
<li>dictionary values are accessed by placing the key in square brackets [] next to the dictionary name or using the get() method. </li>
<li>If a value does not exist, it will raise KeyError.</li>
</ul>
</div>

In [ ]:
print(my_dict["name"])  #my_dict is identified earlier
print(my_dict.get("age"))

Alice
20

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Nested Dictionaries</h2>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
<ul>
<li>A dictionary can contain dictionaries, this is called nested dictionaries.</li>
</ul>
</div>

In [ ]:
nested_dict = {
    "employee1": {"name": "John", "age": 28, "department": "Sales"},
    "employee2": {"name": "Marie", "age": 34, "department": "HR"}
}

print(nested_dict["employee1"]["name"])

John

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="Operators" style="color: #d42c06;">Dictionary Methods</h2>

- **keys()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Returns a view object containing the dictionary's keys.
</div>

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city', 'job'])

- **values()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Returns a view object containing the dictionary's values.
</div>

In [ ]:
print(my_dict.values())

dict_values(['Alice', 20, 'New York', 'Software engineer'])

- **items()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Returns a view of the dictionary's key-value pairs (tuples).
</div>

In [ ]:
print(my_dict.items())

dict_items([('name', 'Alice'), ('age', 20), ('city', 'New York'), ('job', 'Software engineer')])

- **pop()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Removes a key from the dictionary, returning its value.
</div>

In [28]:
job = my_dict.pop("job")
print(job)
print(my_dict)

Software engineer
{'name': 'Alice', 'city': 'New York', 'email': 'alice@gmail.com'}

- **update()**
<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
Updates the dictionary with elements from another dictionary. </div>

In [ ]:
my_dict.update({"email": "alice@gmail.com"})
print(my_dict)

{'name': 'Alice', 'city': 'New York', 'job': 'Software engineer', 'email': 'alice@gmail.com'}

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 id="conclusion" style="color: #d42c06;">Conclusion</h2>

</div>

<div style="padding: 30px; padding-top: 0; padding-bottom: 0;">

<hr style="border-color: #fff;">

</div>

<div style="font-family: arial; padding: 30px; padding-top: 0; padding-bottom: 0;">
    
<h2 style="color: #d42c06;">References</h2>

<ul>
    <li>Voron, Franois. Building Data Science Applications with FastAPI: Develop, manage, and deploy efficient machine learning applications with Python. Packt Publishing Ltd, 2023
        .</li>
</ul>

<hr style="margin-top: 25px; border-color: #fff;">

</div>